In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from ipywidgets import interact_manual

In [2]:
mydata = np.random.randn(5,4) * 3 + 10

In [3]:
mydata

array([[ 9.41724888, 12.49247078, 11.61085652, 10.07298679],
       [ 9.83633587,  8.16555263, 14.73262246, 11.27177707],
       [11.38362201,  9.92973706,  8.44399225, 12.05464813],
       [ 3.68323439,  6.52687486,  0.54498383, 11.98074378],
       [ 7.93211556, 12.56275113,  9.809897  , 12.39679692]])

In [4]:
df1 = pd.DataFrame(mydata , columns=["甲","乙","丙","丁"])

In [5]:
df1

           甲          乙          丙          丁
0   9.417249  12.492471  11.610857  10.072987
1   9.836336   8.165553  14.732622  11.271777
2  11.383622   9.929737   8.443992  12.054648
3   3.683234   6.526875   0.544984  11.980744
4   7.932116  12.562751   9.809897  12.396797

In [6]:
df2 = pd.DataFrame(np.random.randn(5,4) * 2 + 10 , columns=["子","丑","寅","卯"])

In [7]:
df2

           子          丑          寅          卯
0  12.464206   8.220576   8.814612   4.956166
1  12.457497  11.037312   4.953441   8.352723
2   8.289633   9.323769   9.997467  12.947450
3  10.622801  10.937164   7.259875  10.938554
4  14.000558  10.766610  11.879090  10.279537

In [8]:
df3 = pd.concat([df1,df2] , axis= 1)

In [9]:
df3

,甲,乙,丙,丁,子,丑,寅,卯
0,9.417249,12.492471,11.610857,10.072987,12.464206,8.220576,8.814612,4.956166
1,9.836336,8.165553,14.732622,11.271777,12.457497,11.037312,4.953441,8.352723
2,11.383622,9.929737,8.443992,12.054648,8.289633,9.323769,9.997467,12.947450
3,3.683234,6.526875,0.544984,11.980744,10.622801,10.937164,7.259875,10.938554
4,7.932116,12.562751,9.809897,12.396797,14.000558,10.766610,11.879090,10.279537

In [11]:
df3.index = range(1,6)

In [12]:
df3

,甲,乙,丙,丁,子,丑,寅,卯
1,9.417249,12.492471,11.610857,10.072987,12.464206,8.220576,8.814612,4.956166
2,9.836336,8.165553,14.732622,11.271777,12.457497,11.037312,4.953441,8.352723
3,11.383622,9.929737,8.443992,12.054648,8.289633,9.323769,9.997467,12.947450
4,3.683234,6.526875,0.544984,11.980744,10.622801,10.937164,7.259875,10.938554
5,7.932116,12.562751,9.809897,12.396797,14.000558,10.766610,11.879090,10.279537