In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(6,4) , index = list(range(1,7)),columns =list("ABCD"))

In [3]:
df

          A         B         C         D
1 -1.581236 -2.276025 -0.520840 -2.100371
2  1.706345 -0.210253  0.249503 -0.994211
3 -0.145972  1.083931  0.396480 -0.798645
4 -1.383459  0.405782 -0.488081 -0.446821
5  0.527722 -0.187342  0.856147  0.709842
6  0.211096  0.773963 -0.292652 -1.244066

In [4]:
df[df.B>0]

          A         B         C         D
3 -0.145972  1.083931  0.396480 -0.798645
4 -1.383459  0.405782 -0.488081 -0.446821
6  0.211096  0.773963 -0.292652 -1.244066

In [5]:
df.loc[df.B>0 , "C" ] = 0.5

In [6]:
df

          A         B         C         D
1 -1.581236 -2.276025 -0.520840 -2.100371
2  1.706345 -0.210253  0.249503 -0.994211
3 -0.145972  1.083931  0.500000 -0.798645
4 -1.383459  0.405782  0.500000 -0.446821
5  0.527722 -0.187342  0.856147  0.709842
6  0.211096  0.773963  0.500000 -1.244066